.Checkout {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.Checkout h1 {

  margin: 10px 0;
  padding: 10px 0;
}

.CheckoutList {
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap:wrap;
 min-height:300px; 
}

.CheckoutBox {
  width:350px;
  min-height: 150px;
  border:1px solid lavender;
}
