.Final {
    width: 100%;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Final button {
    padding:20px 30px;
    border: none;
    background-color: var(--lightorange);
    color:white;
    margin:20px 0;
}
.Final h1 {
    padding: 20px 0;
}

.Final h4 {
    padding: 20px 0;
}